body {
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.logo {
  height: 50px;
  width: auto;
}

.navbar-toggler-icon {
  color: #3c88b5 !important;
}

.nav-link .nav-link {
  color: #c52b32;
  margin-right: 7px;
  font-size: 13px;
}

.headersection {
  height: 80vh;
  background: url("../images/divine-web-ban.png") no-repeat center center;
  background-size: cover;
}

.populartrip {
  color: #3c88b5;
  font-size: 24px;
  font-weight: 700;
}

.terminalloc {
  font-size: 18px;
}

.pricesec {
  font-size: 23px;
  font-weight: 900 !important;
}

.pricemore {
  font-size: 13px !important;
  text-align: end !important;
}

.welcomediv {
  text-transform: uppercase;
  color: #292626;
  font-size: 35px;
  font-weight: 500;
}
.welcomediv .welcomeColor {
  color: #c52b32;
  font-weight: 700;
}

.welcometext {
  color: #a4a4a4;
  font-size: 18px;
  font-weight: 400;
}

footer {
  background: #361737;
  min-height: 10vh;
}
footer .vm-footer {
  height: 12vh;
}
footer .vm-footer p {
  color: #ffffff;
  font-size: 14px;
  margin: auto 0;
}

.fa-3x {
  color: #b4b4b4 !important;
}

.contactinfo {
  color: #b4b4b4;
  font-weight: 500;
}

.title {
  font-weight: 500;
  margin: auto 0;
}

.aboutimg {
  height: 350px;
}

.card-body {
  color: #88a6b7;
  font-size: 16px;
}

.main-section {
  min-height: 80vh;
}
.main-section .contact_title {
  color: #361737;
  font-size: 18px;
}
.main-section .section-title {
  background: #361737;
  color: #FFFFFF;
  padding: 20px;
}
.main-section .contact_form .btn-primary {
  background-color: #c52b32;
  color: #ffffff;
  border-color: #c52b32;
}
.main-section .contact_form .form-control {
  width: 100%;
  height: 60px;
  border: 1px solid #b4b4b4 !important;
}
.main-section .contact_form .form-control::placeholder {
  color: #b4b4b4;
  font-size: 18px;
}
.main-section .contact_form textarea {
  width: 100%;
  height: 120px;
}
.main-section .contact_form textarea::placeholder {
  color: #b4b4b4;
  font-size: 18px;
}
.main-section .about {
  padding-top: 40px;
}
.main-section .about h1 {
  color: #361737;
}
.main-section .about p {
  font-size: 20px;
  margin-bottom: 30px;
}
.main-section .terminal {
  padding: 20px;
}
.main-section .terminal .card {
  height: 300px;
}

.bg-success {
  color: white !important;
  background-color: #3c88b5 !important;
  font-size: 20px;
}

.tablebody {
  color: #b4b4b4 !important;
  font-size: 16px;
}

.page-link {
  color: #b4b4b4 !important;
}

.brandlogo {
  height: 50px !important;
}

.receipt-title {
  padding: 20px;
  color: white;
  background-color: #e7ece9;
}

.h-size {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

.btn-dark {
  background-color: #94a1b8;
  border: 0;
}
.btn-dark:hover {
  background-color: #361737 !important;
}

.thead-purple {
  background-color: #361737 !important;
  color: #ffffff;
}

@media screen and (max-width: 560px) {
  .headersection {
    background-image: url("../images/divine-web-ban.png");
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .welcomediv {
    font-size: 28px !important;
  }
}
.vm-voomsway-filter {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(255, 255, 255, 0.9);
}
.vm-voomsway-filter .vm-checkbox-label {
  margin: 0;
}
.vm-voomsway-filter .vm-checkbox-label.active {
  background-color: #c52b32;
  border: 0;
}
.vm-voomsway-filter .vm-btn-primary {
  background-color: #c52b32 !important;
  border: 0;
}
.vm-voomsway-filter .vm-btn-primary:hover {
  background-color: #bc1119 !important;
}
.vm-voomsway-filter .vm-check-ticket-section .ticket-field-input {
  margin-right: 12px;
}
.vm-voomsway-filter .vm-tab-section .vm-tab-label {
  color: #401010 !important;
}
.vm-voomsway-filter .vm-tab-section .vm-tab-label.vm-active-tab {
  border-bottom: 3px solid #c52b32;
  color: #c52b32 !important;
}

.btn-custom-primary {
  background-color: #c52b32 !important;
}

.btn-custom-white {
  color: #c52b32 !important;
}

.color-custom {
  color: #c52b32 !important;
}

.number {
  background-color: #c52b32 !important;
  border: 1px solid #c52b32 !important;
}

.book-now {
  background-color: #c52b32 !important;
}

.card-body {
  color: #989898 !important;
  font-size: 14px !important;
}

.auth-actions-btns {
  color: #c52b32 !important;
}
.auth-actions-btns a {
  color: #c52b32 !important;
}

/*# sourceMappingURL=styles.css.map */
