$bg-color: #42704e;
$accent-color: #151933;
$accent-light-color: #e7ece9;

body {
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.logo {
  height: 50px;
  width: auto;
}

.navlink {
  .nav-link {
    color: #3c88b5;
    margin-right: 7px;
    font-size: 13px;
  }
}

.headersection {
  background-image: url('../images/divine-banner-main.jpg');
  height: 100vh - 15;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.populartrip {
  color: #3c88b5;
  font-size: 24px;
  font-weight: 700;
}

.terminalloc {
  font-size: 18px;
}

.pricesec {
  font-size: 23px;
  font-weight: 900 !important;
}

.pricemore {
  font-size: 13px !important;
  text-align: end !important;
}
