<footer class="container-fluid border-top">
    <div class="vm-footer d-flex justify-content-center align-self-center">
        <p>© Copyright 2019 Divine Express Transportation Company</p>
    </div>
</footer>