<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href='https://cdn.jsdelivr.net/gh/ekaruztech/voomsway@0.3.2/voomsway-filter.css'/>
    <link rel="stylesheet" href='/css/styles.css'/>
    <!--    <link rel="stylesheet" media="screen"-->
    <!--          href="https://cdn.jsdelivr.net/gh/ekaruztech/voomsway@0.2.1/voomsway-filter.css">-->
    <link href="/images/favicon.png" type="image/x-icon" rel="shortcut icon"/>
    <title><%= title %></title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93215177-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-93215177-2');
    </script>

</head>