<!DOCTYPE html>
<html lang="en">

<% include partials/header.ejs %>

<body>
<% include partials/navbar.ejs %>
<section class="main-section">
    <div class="container-fluid section-title">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <h1 class="title">ABOUT US</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row about">
            <div class="col-lg-12 col-sm-12 text-center">
                <h1>WHO WE ARE</h1>
                <p>Divine Express was established out of a combined experience <br> of more than 10
                    years in transportation of Goods and people. We believe <br> in the comfort of Our clients and our
                    knowledge in transportation business has <br> helped us in delivering optimal solution for our
                    customers</p>
                <h3>Divine Express Mission Statement</h3>
                <p class="mt-3 text-center">Our team's passion for Transportation powers our global
                    transport platform. <br>Traveling round Nigeria can be seamless and efficient giving our customers
                    added <br> productivity, cost-saving and the highest level of transportation compliance</p>
            </div>
        </div>
    </div>
</section>

<% include partials/footer.ejs %>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5d8b4e736c1dde20ed03609e/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
