<!DOCTYPE html>
<html lang="en">

<% include partials/header.ejs %>

<body>
<% include partials/navbar.ejs %>
<section class="main-section">
    <div class="container-fluid section-title">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <h1 class="title">Terms & Conditions</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row about">
            <div class="col-lg-10 col-sm-12">
                <h5>We obtain information about you when you use our Divine Express Platform, for example:</h5>
                <h5>(i) when you become a registered user as either a Traveller or transport Company</h5>
                <h5>(ii) when you communicate with us or submit information to us via our Divine Express</h5>
                <h5>(iii) when you otherwise communicate with us or submit information to us in relation to the
                    operation of a Partner’s account; and</h5>
                <h5>(iv) details of your use of our Divine Express Platform including time, traffic data, communication
                    data, location data, your IP address and your browser type and operating system.</h5><br>
                <h5>We may also collect and aggregate information about your computer for system administration and
                    website analytics. This is statistical data about our users’ browsing actions and patterns and does
                    not identify any individual.</h5> <br><br>
                <h3 class="text-bold border-top"></h3><br>
                <h3 class="text-bold" style="font-weight: 600;">Cookies</h3><br>
                <h5>We may obtain information about your general internet usage by placing certain bits of information
                    called “cookies” in your web browser software or the hard drive of your computer. Some of the
                    cookies we use are essential for our Divine Express Platform to operate. The personal information we
                    collect might include:</h5><br>
                <h5> 1. Identity Data.</h5>
                <h5> 2. Contact Data.</h5>
                <h5> 3. Financial Data.</h5>
                <h5> 4. Transaction Data (includes details about payments to and from you and other details of services
                    you have paid for and require from us).</h5>
                <h5> 5. Technical Data (includes internet protocol (IP) address, login data, browser type, and version,
                    time zone setting and location, browser plug-in types and versions, operating system and platform
                    and other technology on devices used to access the Partner Booking Platform).</h5>
                <h5> 6. Profile Data (includes user name and password, trips made by you).</h5>
                <h5> 7. Usage Data (includes information about how you use the Divine Express Platform and our
                    Services).</h5><br>
                <h3 class="text-bold border-top"></h3><br>
                <h3 class="text-bold" style="font-weight: 600;">Use of your Personal Information</h3><br>
                <h5>We will use your information as described in this Privacy Policy and as permitted by applicable
                    laws, including in circumstances where it is necessary:</h5><br>
                <h5>(i) to supply products or services requested by or for you</h5>
                <h5>(ii) for the performance of a contract to which you are a party or in order to take steps at your
                    request prior to entering into such a contract;</h5>
                <h5>(iii) for compliance with a legal obligation to which we are a subject;</h5>
                <h5>(iv) to pursue our legitimate interests; or</h5>
                <h5>(v) where you have given us your express consent.</h5><br>
                <h5>We may also use your information in order to:</h5><br>
                <h5> 1. ensure that content from our Divine Express Platform is presented in the most effective manner
                    for you and for your computer;</h5>
                <h5> 2. carry out our obligations arising from our agreement with the Divine Express for which you are
                    traveller or transport company ;</h5>
                <h5> 3. provide you with information, or services that you request from us in your capacity as the
                    traveller or transport company for Divine Express;</h5>
                <h5> 4. Notify you about changes to the Divine Express Platform or to our products and services;</h5>
                <h5> 5. for our internal business record keeping, tax, accounting and audit purposes;</h5>
                <h5> 6. to carry out identity and credit checks in relation to the operation of the transport Company’s
                    account; and</h5>
                <h5> 7. in connection with any legal and regulatory matters that we need to deal with.</h5><br>
                <h5>We will only retain your personal information for as long as necessary to fulfill the purposes we
                    collected it for.</h5><br>
                <h3 class="text-bold border-top"></h3><br>
                <h3 class="text-bold" style="font-weight: 600;">Financial/Payment information and Data</h3><br>
                <h5>This applies to all financial/payment data collected by or submitted to Divine Express website.
                    Divine Express website will only collect financial/payment information and data voluntarily provided
                    by customers, and will only use that information for the specific financial/payment purposes for
                    which it was provided and authorized. Divine Express will keep this information strictly
                    confidential unless required by law, or with the written permission of the customer.</h5><br>
                <h5>Divine Express web servers will collect web session data used to analyze site trends and gather
                    broad demographic data. Divine Express website may have links to other third party payment system
                    websites used for payment transactions. These third party sites may collect Customers
                    financial/payment information and Identification data through the use of forms or cookies. Customers
                    are expected to review the privacy policies of all third-party websites outside the control of
                    Divine Express for their policies on Customer financial/payment information data. </h5><br>
                <h5>Divine Express provides security measures to protect Customer financial/payment information data
                    under its control. Access to such information and data is limited to only employees that need to
                    access for work purposes. see more on security.</h5><br>

                <h3 class="text-bold border-top"></h3><br>
                <h3 class="text-bold" style="font-weight: 600;">Change of purpose</h3><br>
                <h5>We will only use your personal information for the purposes for which we collected it unless we
                    reasonably consider that we need to use it for another reason and that reason is compatible with the
                    original purpose. If we need to use your personal information for an unrelated purpose, we will
                    notify you and we will explain the legal basis which allows us to do so. Please note that we may
                    process your personal information without your knowledge or consent, in compliance with the above
                    rules, where this is required or permitted by law.</h5><br>
                <h3 class="text-bold border-top "></h3><br>
                <h3 class="text-bold" style="font-weight: 600;">Third Parties</h3><br>
                <h5>We will share your personal information with third parties where required by law, where it is
                    necessary to administer our relationship with you or where we have another legitimate interest in
                    doing so. Where permitted by the provisions of applicable law, we may share such information from
                    time to time with the following third parties: • Our other group companies including the employees,
                    directors, and managers of those companies who have a need to access your personal information in
                    carrying out their responsibilities. Third party service providers who provide administration,
                    logistics or other services to us which are relevant to the services which we provide to you or who
                    otherwise assist us in conducting our business, such as printers, storage facilities, communications
                    software, data hosting, call center operations, and email management services. All our third party
                    service providers are required to take appropriate security measures to protect your personal
                    information. If a change happens to our business, then the new owners may use your personal data in
                    the same way as set out in this privacy policy. We may also need to share your personal information
                    with a regulator or to otherwise comply with the law. This includes exchanging information with
                    other companies and organizations for the purposes of fraud prevention and credit risk
                    reduction.</h5><br>
                <h3 class="text-bold border-top"></h3><br>
                <h3 class="text-bold" style="font-weight: 600;">Security</h3><br>
                <h5>We have appropriate security measures in place to protect against the accidental loss, misuse,
                    access and/or alteration of the information you provide. In addition, we limit access to your
                    personal information to those employees, agents, contractors and other third parties. They will only
                    process your personal information on our instructions and they are subject to a duty of
                    confidentiality. Further, when you provide financial information to us, such as credit card details,
                    your data is automatically processed and stored on our secure server.</h5><br>
                <h3 class="text-bold border-top "></h3><br>
                <h3 class="text-bold" style="font-weight: 600;">Rights of Correction</h3><br>
                <h5>You have a duty to inform us of changes, it is important that your personal information is accurate
                    and current. Please keep us informed of any changes to your personal information of which we need to
                    be made aware.</h5><br>
                <h3 class="text-bold border-top "></h3><br>
                <h3 class="text-bold" style="font-weight: 600;">Right to Withdraw Consent</h3><br>
                <h5>If there are any circumstances where you may have provided your consent to the collection,
                    processing and transfer of your personal information for a specific purpose (for example, in
                    relation to direct marketing that you have subscribed and you would like to receive from us), you
                    have the right to withdraw your consent for that specific purpose. You can exercise this option at
                    any time by contacting us. Once we have received your notification that you have withdrawn your
                    consent, we will no longer process your information for the purpose or purposes for which you
                    originally agreed, unless we have another legitimate basis for doing so in law.</h5><br>
                <h5 class="text-bold" style="font-weight: 600;">Policy Changes</h5><br>
                <h5>Any changes we may make to our privacy policy in the future will be posted on this webpage.</h5><br><br>
                <h3 class="text-bold border-top "></h3><br>
                <h3 class="text-bold" style="font-weight: 900; font-size: 43px">TERMS OF USE</h3><br>
                <h3 style="font-weight: 600;">Bookings /Reservations and Rescheduling</h3><br>
                <h5>Bookings and reservations made in advance are subject to availability of vehicles in the selected
                    transport company. In the event that we are unable to fulfill your reservation, affected traveller
                    (s) will be rescheduled to another departure time on the same transport company at no extra cost.
                    Note that all reschedules/ re-routing requests are subject to vehicle/ seat availability on the
                    desired route and transport Company. In the event that the fare of the new trip is higher than the
                    old trip, the guest will also be required to pay the differential for rescheduling or re-routing
                    request</h5><br>
                <h5>Travellers with unused tickets are advised to utilize within one month from the date of purchase
                    after which the ticket becomes invalid.</h5><br>
                <h3 class="text-bold border-top "></h3><br>
                <h3 class="text-bold" style="font-weight: 600;">Check-in</h3><br>
                <h5>Check-in is generally subject to regulations of the selected transport company. However, for
                    effective service t is advised that travellers check-in 30 minutes before the estimated time of
                    departure. Please note that rescheduling is subject to vehicle and seat availability on the selected
                    transport company.</h5><br>
                <h3 class="text-bold border-top "></h3><br>
                <h3 class="text-bold" style="font-weight: 600;">Refund Policy</h3><br>
                <h5>All tickets purchased are not refundable and are only subject to rescheduling in accordance to
                    company policy on bookings/ reservations and rescheduling. Contact us for further enquiries on
                    rescheduling.</h5><br>
                <h3 class="text-bold border-top "></h3><br>
                <h3 class="text-bold" style="font-weight: 600;">Luggage Allowance and Lost/Forgotten Items</h3><br>
                <h5>Luggage allowance is regulated by the selected transport company. Travellers are advised to monitor
                    their luggage while at transport Company terminals or in our vehicles and till their final
                    destination. Should any item be stolen, lost or forgotten, we will not be held liable.</h5><br>
                <h3 class="text-bold border-top "></h3><br>
                <h3 class="text-bold" style="font-weight: 600;">Debit Errors on online transactions</h3><br>
                <h5>Travellers are advised to contact their banks in cases of double debits and failed transaction
                    debits on card transactions or USSD payments using our online booking platform for refund.</h5><br>
                <h3 class="text-bold border-top "></h3><br>
                <h3 class="text-bold" style="font-weight: 600;">Price Changes</h3><br>
                <h5>Prices are subject to change without prior notice to travelers due to unforeseen economic
                    circumstances and directions from the transport Companies.</h5><br>
                <h3 class="text-bold border-top "></h3><br>
                <h3 class="text-bold" style="font-weight: 600;">Liability</h3><br>
                <h5>All terms and conditions herein are subject to the terms and conditions of the transport companies.
                    In providing premium online booking service for our customers, we will not be held liable for the
                    negligence of the transport companies.</h5><br>
                <h5>For queries and inquiries on issues not addressed above, kindly reach our legal team via mobile
                    using 08061636834.</h5><br>
                <h5>Kindly note the above terms and conditions.</h5><br><br>


            </div>
        </div>
    </div>
</section>

<% include partials/footer.ejs %>

</body>
</html>
