<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link type="text/css" href='/public/css/styles.css'/>
    <title><%= title %></title>
</head>
<body>
<% include partials/navbar.ejs %>
<section id="voomsway">
    <% terminals.forEach( (terminal) => { %>
    <div>
        <%= terminal.name %>
        <% if (terminal.destinations && terminal.destinations.length) { %>
        <h6><strong>Destinations <%= terminal.destinations.length %></strong></h6>
        <% terminal.destinations.forEach((destination) =>  { %>
        <%= destination.name %>
        <% }) %>
        <% } %>
    </div>
    <% }) %>
</section>
<% include partials/footer.ejs %>
</body>
</html>
